#trafficLight {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: black;
}

header {
    background: aqua;
    height: 100px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    font-family: Verdana, Geneva, sans-serif;
}

body {
    background: Cornsilk;
};