header {
    background: aqua;
    height: 100px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    font-family: Verdana, Geneva, sans-serif;
}

body {
    background: Cornsilk;
}

#textField {
    margin-left: 2%;
}