@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

header {
    background: aqua;
    height: 100px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    font-family: Verdana, Geneva, sans-serif;
}

body {
    background: Cornsilk;
}

p {
    font-family: 'Roboto', sans-serif;
    margin-left: 2%;
};